/* karla-regular - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/karla-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Karla'), local('Karla-Regular'),
       url('../fonts/karla-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/karla-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/karla-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/karla-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/karla-v13-latin-regular.svg#Karla') format('svg'); /* Legacy iOS */
}

/* 글씨체 이름 :   Karla,sans-serif   */

/* 웹폰트 import */


body{	  
	 
	 margin: 0px;
    padding: 0px;
     font-family: 'Karla'; 
	
}

ul{
   list-style:none;
   }
   

*{  margin:0; 
	padding: 0; 
	font-family: 'Karla';
}
   
  
   
/* -------- 【top 】 --------   */



/* 탑 전체 영역  */

#topGroup { 
		
		position: relative;
					
		height:130px; 
		margin-left:0;  
		margin-bottom:0; 
		border-bottom-width : 1px;
 		border-bottom-style : dashed;
 		border-bottom-color : #e3d1d6;
		padding-right: 20px;
		
				
}


/* 타이틀 부분  */

.titImg { 	
		
		position: relative;
		float: left;
		left: 120px;
		top: 20px;
		width: auto; height: auto;
   		max-width: 100px;
    	max-height: 100px;
		visibility:none;
								
}



/* 로그인 부분  */



.logImg { 			
		position: relative;	
		float: right;	
		top: 35px;
		width: auto; height: auto;
   		max-width: 70px;
    	max-height: 70px;
    	visibility:none;		
				
}






.mypage { 			
		position: relative;	
		float: right;	
		top: 19px;
		width: auto; height: auto;
   	max-width: 100px;
   	max-height: 100px;
   	visibility:none;		
				
}





/* -------- 【body】 --------   */



/* 바디 전체 영역  */

#bodyGroup { 
	position: relative;
	float: left;
	width: 15%;  
	 height: 100vh;
	align-items: center;
	border-right-width : 1px;
 	border-right-style : dashed;
 	border-right-color : #e3d1d6;
    
/*      background-color: red; */
	
}

a { 

	text-decoration:none 
	
}


p{
	position: relative;
	loat: left;
	top: 70px;
	left: 25%;
	padding: 30px;
	font-family: ' Karla,sans-serif';
	font-style: normal;	
}


h3{
	
	color: black;
	
}

h3:hover {	
	color: #915353;
	
	}
	
	
	


/* -------- 【right】 --------   */



/* 오른쪽 전체 영역   */



#rightGroup { 
	
		position: absolute;
		float: left;
		top: 18%;
		left: 15.3%;
		right: 0;
		width:85%%; 
		height: 1000px;		
		background: white;		
		display:block;	
		/* 	display:block;*/	
					
}



#piechart{
		
		position: relative;
		float: left;
		left: 200px;
		top: 80px;
		width: 650px; 
		height: 450px;
		display:block;
	
}


#curve_chart{
	
		position: relative;
		float: right;
		top: 30px;
		right: 150px;
		width: 550px; 
		height: 550px;
		display:block;
	
}

