
@font-face {
    font-family: 'BBTreeGR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'BBTreeGR';    
}

body{
    width: 1050px;
	margin-left: auto; 
	margin-right: auto;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}



form {
    display: block;
    width:100%;
    hight:100%;
    margin-top: 0em;
}


dl, ul, ol, li {
    list-style: none;
}

div {
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

li {
    line-height: 2.0;
}

.td_chk td {
    vertical-align: middle;
}

.location_wrap {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ededed;
    background: #f9f9f9;
}

.location_wrap .location_cont {
    width: 100%;
    width: 1050px;
    margin: 0 auto;
}


.location_cont em {
    display: block;
    float: left;
    padding: 12px 0 10px 0;
    color: #777777;
    font-size: 11px;
}

.box_dashed {
    border: 2px dashed #EA2129;
    padding: 15px 0;
    position: relative;
    margin: 40px 0 40px;
    text-align: center;
    font-family: 'BBTreeGR';
    width: 800px;
    
}

.order_wrap .order_tit {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #dbdbdb;
    border-bottom-width: 1px;
    align : center;
}

.order_wrap .cart_cont{
    padding: 60px 0;
    position: relative;
    margin: 0 0 20px 0;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
    border-bottom-width: 1px;
    color: #444;
    
}

.order_wrap .cart_cont .no_data {
    padding: 60px 0;
    position: relative;
    margin: 0 0 30px 0;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
    color: #444;
    
}



.order_wrap .order_tit h2 {
    float: left;
    font-size: 28px;
    color: #222222;
    padding:10px;
}



.order_wrap .order_tit ol {
    float: right;
    line-height: 62px;
    list-style-type : none;
    text-align : center;
}

.order_wrap .order_tit ol li {
    float: left;
    font-size: 14px;
}

.order_wrap .order_tit li span {
    font-size: 16px;
    font-weight: bold;
}


.btn_order_box {
    overflow: hidden;
    padding: 30px 0 0 0;
    text-align: right;
}

.btn_order_box .btn_left_box {
    float: left;
    text-align: left;
}

.btn_right_box {
    text-align: right;
}

.btn_order_choice_buy, .btn_order_choice_buy:hover {
    border: 1px solid #404040;
    color: #404040;
}
.btn_order_choice_buy:hover {
    color: #333333;
    border: 1px solid #bbbbbb;
}
.btn_order_choice_buy {
    min-width: 190px;
    height: 55px;
    padding: 0 20px 0 20px;
    color: #3e3d3c;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #cccccc;
    background: #fff;
    cursor: pointer;
}

.btn_order_whole_buy, .btn_order_whole_buy:hover {
    background: #404040;
    border: 1px solid #404040;
}
.btn_order_whole_buy {
    min-width: 190px;
    height: 55px;
    padding: 0 20px 0 20px;
    color: #ffffff;
    font-size: 14px;
    border: 1px solid #ab3e55;
    background: #ab3e55;
    cursor: pointer;
    font-weight: bold;
}

.price_sum {
    padding: 20px 40px 25px 40px;
    border: 2px solid #d6d6d6;
	margin-left: auto; 
	margin-right: auto;
        
}

.price_sum:after {
    display: block;
    clear: both;
    content: "";
}


.price_sum_cont { 
    display: table;
    float: right;
    text-align: right;
}

.price_sum_cont .price_sum_list dl {
    display: table-cell;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    text-align: right;
}


.price_sum_cont .price_sum_list span {
    display: table-cell;
    padding: 0 15px 0 15px;
    text-align: center;
    vertical-align: middle;
}


img,fieldset {
    border: 0 none;  
    align : middle;
}
}

.box {
    background: #fff;
    border: 2px solid #555;
}


.order_table_type th {
    padding: 9px 10px 10px 10px;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #dbdbdb;
    background: #f7f7f7;
}

.order_table_type td {
    height: 31px;
    padding: 15px 10px 14px 10px;
    color: #777777;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px dotted #ededed;
    background: #ffffff;
}
.order_table_type .td_chk {
    vertical-align: middle;
}

.order_table_type .td_left {
    text-align: left;
}

.pick_add_info{
	margin-right:20px;
	margin-top:10px;
    float: right;
    vertical-align: middle;
    text-align: center;
    
    position: relative;
}

em {
    font-style: italic;
}


a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


button {
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;

}

.btn_order_choice_del {
    display: inline-block;
    min-width: 120px;
    height: 30px;
    padding: 0 15px 0 15px;
    color: #626262;
    border: 1px solid #a3a3a3;
    text-align: center;
    line-height: 28px;
}

input, select, textarea, button {
    vertical-align: middle;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}
