*{        
margin:auto;
padding:5px;  
font-family: 'Karla';         
}

textarea{
resize: none; 
width:98%;
border-radius: 10px;
border: 1px solid #ddd;
}

caption{
margin:15px;
padding: 10px;
}

select .board_category{
width: auto;
}

table{                
width: 80%;
border-top: 1px solid #444444;
border-collapse: collapse;
margin: auto;
/*! text-align: center; */
}


h2 {

text-align: center;
color:#363334;
}

span{
  color: red;
}

th{
background-color: #9dbce0;
/*! width: 5px; */
/*! padding : 8px; */
/*! text-align:center; */
border:1px solid #7f9aba;                
}

td{
margin: auto;
width: 100%;
padding : 8px;
text-align:left;
border:1px solid #7f9aba;  
margin: auto;
/*! width: 10px; */
}

tr:hover{
background:#f5f5f5;
}

{
color:#ff0000;
}

.btn_right{
width: 100%;
text-align: center;
margin:10px;
}

input[type='text']{
width: 96%;
padding: 15px;	
border: 1px solid #ddd;
border-radius: 10px;
background-color: #fffdfc;
font-size: 15px;
text-align: center;
font-family: 'Karla'; 

}