<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Basak login</title>


<!--********** 【 css 링크 걸기 】**********  -->

<link rel="stylesheet" type="text/css" href="../static/css/login_ok.css" media="all" />


<!--********** 【 글씨체 수입 】**********  -->

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

<!--********** 【 js 링크 걸기 】********** -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script src="../static/js/login.js" type="text/javascript" charset="utf-8"></script>

<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
<script language="JavaScript">
function forwarding()
{location = "/basak/admin_index"}
</script>
</head>

<body onLoad="setTimeout('forwarding()', 2000)">


<div class="wrapper fadeInDown">

      <div id="formContent">

     <img class="iconImg" src="../static/img/icon1.png"><br/>

     		  <h3>   로그인 성공! </h3><br/>



			<h2> 【 <d>  {{request.session.user_mname}} </d>  】  님, 로그인 성공하셨습니다.<h2><br/>

			  <h2> Basak에 오신걸 환영합니다!<h2><br/>

			  <h2> 2초후 메인으로...!! </h2>

{{error}}
  </div>
 </div>


</body>
</html>