<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Basak login</title>


<!--********** 【 css 링크 걸기 】**********  -->



<!--********** 【 글씨체 수입 】**********  -->

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

<!--********** 【 js 링크 걸기 】********** -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">

</head>
<body > 

	
     <img src="./resources/img/error.png"><br/>
     

</body>
</html>