<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Basak login</title>


<!--********** 【 css 링크 걸기 】**********  -->
 ]
<link rel="stylesheet" type="text/css" href="./resources/css/goindex.css" media="all" />


<!--********** 【 글씨체 수입 】**********  -->

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

<!--********** 【 js 링크 걸기 】********** -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script src="./resources/js/login.js" type="text/javascript" charset="utf-8"></script>

<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
<script language="JavaScript">

function popup(){
 pop=window.open('index.do')
 pop.focus();
}
tid=setTimeout(popup,2000); 
</script> 

</head>
<body > 

	
<div class="wrapper fadeInDown">
  
      <div id="formContent">
      
     <img class="iconImg" src="./resources/img/icon1.png"><br/>
     
     		  <h3>  🤸‍♀️‍메인으로 이동 중🤸‍♀️‍  </h3><br/>
			  
			  
			  
 
  </div>
 </div>


</body>
</html>