<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>
    <style>
        ol, ul {list-style: none;}
        ul li {float:left; margin-left:2px; background:lightblue}
    </style>
</head>
<body>
    <h1>로그인/로그아웃 데모</h1>
    <span> 추후에 web1에 템플릿 디자인으로 적용하세요.</span>
<nav id="menu">
    <header class="major">
        <ul>
            <li><a href="select">cart</a></li>
            <li><a href="cart_add">cart_add</a></li>
            <li><a href="cart_empty">cart_empty</a></li>
            <li><a href="cart_ok">cart_ok</a></li>
            <li><a href="boardSelect">board</a></li>
            <li><a href="detail">detail</a></li>
        </ul>
    </header>
</nav>
</body>
</html>